* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    font-size: 16px;
}

   
    


.header {
    background-color: #000000;
    color: #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGINA ANIME */

.container {
    background-image: url(/assets/imgs/Banner.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 0px 20px 3px #c2c2c270;

}

.sinopsis {
    background-color: #ffffffce;
    margin: 60px 50px 30px 30px;
    padding: 15px;
    border-radius: 10px;
    width: 600px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;
}

.temporada {
    margin: 60px 0px 0px 50px;
}

.cover {
    width: 280px;
    height: 400px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;
    border-radius: 10px;
}

.temp1 {
    background-color: #ffffffce;
    color: #000000;
    width: 280px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;
}

.temp1:hover {
    background-color: #000000ce;
    color: #fff;
}


.title {
    font-size: 50px;
    margin: 0;
}

.title-1 {
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.episodes {
    background-color: #ffffffce;
    width: 600px;
    height: 700px;
    margin: 10px 50px 50px 30px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;
    border-radius: 10px;
    padding: 15px;
}

.list {
    padding: 20px;
    height: 550px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;

}

.list a {
    display: flex;
    flex-flow: column;
    text-align: center;
    text-decoration: none;
    color: #000000;

}

.list a:hover {
    opacity: 0.8;
}

.list img {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-color: #000;
    border: 0;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;

}

/* FIN PAGINA ANIME */

/* FOOTER */

.footer {
    background-color: #000000;
    height: 200px;
    width: 100%;
}

.foot {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.menu {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;

}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}

li a:hover {
    color: #d1d1d1;

}

.bg-creator {
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.creator {
    margin: 0;

    font-size: 16px;
    text-align: center;

}

.redes {
    width: 300px;
    text-align: center;
}

.redes a {
    text-align: center;
    font-size: 27px;
    color: #fff;
    padding: 5px;
    text-decoration: none;

}

.redes a:hover {
    color: #d1d1d1;
}



.title-menu {
    color: #fff;
    margin-bottom: 7px;
    font-size: 25px;
    font-weight: bolder;

}

/* FIN FOOTER */

/* PAGINA DE INICIO */

.covers {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.covers img { 
    width: 320px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px 3px #c2c2c270;
    display: flex;
    justify-content:center;
    
}
.covers a {
    font-size:30px;
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
    
.covers a:hover {
    opacity: 0.8;
}

.container-1{
    display: flex;
    flex-flow: column;
    background-color: #fff;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 0px 20px 3px #c2c2c270;
}

.last{
    width: 1000px;

    margin-bottom: 100px;
}

.last h1{
    width: 900px;
    background-color:#ffffffce;;
    font-size:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px#c2c2c270; 
}


.stage{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 700px;
    margin-left: 20px;
    
}

.galery h2{
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
    border-bottom:1px solid #000 ;
}

.galery img{
    width: 150px;
    border-radius: 10px;
    box-shadow:2px 2px 5px#ffee00; 
}

/* FIN PAGINA DE INICIO */

/* PAGINA EPISODIOS ANIME */

.episodios {
    background-color: #ffffff;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 0px 20px 3px #c2c2c270;
}

.video {
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: #000;
}

.title-epi {
    color: #000;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bolder;
}

.subtitle {
    margin-top: 0;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.btn a {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}



a.right {
    display: flex;
    flex-flow: row-reverse;

}

.fa-list-ul {
    text-decoration: none;
    color: rgb(255, 145, 0);
    background-color: #1a1a1a;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 10px;
}



.fa-angle-right {
    text-decoration: none;
    color: rgb(230, 230, 230);
    background-color: #1a1a1a;
    width: 400px;
    margin: 0;
    border-left: 1px solid #272727;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 10px;

}

.fa-angle-left {
    text-decoration: none;
    color: rgb(230, 230, 230);
    background-color: #1a1a1a;
    width: 400px;
    margin: 0;
    border-right: 1px solid #272727;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
}

/* FIN PAGINA EPISODIO ANIME */